*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monoton', cursive;
}

body{
    background-image: linear-gradient(180deg, #000428, #004e92);
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box{
    /* width: 40%; */
    /* height: 400px; */
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 800px;
}
.row{ 
    padding: 10px;
}
.btn{
    width: 100%;
    padding: 1px;
    background-color:  rgb(214, 162, 232);
    border: none;
    font-size: 40px;
    border-radius: 100px;
    cursor: pointer;
    padding: 1px;
    font-weight: 700;
   
   
}
.line{
    border: 2px solid rgba(12, 201, 205, 0.786);
    margin-bottom: 5px;
    width: 200px;
    transition: linear;
    position: relative;
    left:  290px;
    transform: rotate(3deg)
    
}